:root {
    --primary_color: #352f44;
    --secondary_color: #5c5470;
    --tertiary_color: #b9b4c7;
    --quaternary_color: #faf0e6;

    /* Teams colors */
    --meta_team: #dc1414;
    --viable_team: #00c0e2;
    --troll_team: #b1c51b;
    --unique_team: #ff6701;
    
    /* Teams collapsible colors */
    --meta_collapsible_team: #ee4f4f;
    --viable_collapsible_team: #5acbdf;
    --troll_collapsible_team: #b3c04e;
    --unique_collapsible_team: #ff9650;

    /* Text color */
    --light_text: aliceblue; /* aliceblue blanchedalmond*/
    --dark_text:#313131;

    /* Character rarity */
    --character_4_stars: #5c2391;
    --character_5_stars: #a07a1b;

    /* Background */
    --dark_background: #313131;
    --shadow_background: rgba(0, 0, 0, 0.4);
    --light_background: blanchedalmond;

    /* Extra */
    --star_shadow: #e3721b;
}

@font-face {
    font-family: 'GenshinImpact';
    src: url('../font/genshin_impact.ttf') format('truetype');
}

html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;

    font-family: GenshinImpact;

    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;

    padding: 0;
    margin: 0;

    background-color: var(--primary_color);
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 2vh;
    margin-bottom: 3vh;

    width: 100%;
    min-height: 100%;

    font-size: 10vh;
    font-family: GenshinImpact;
}

.tab_archetype_search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 90%;

    margin-top: 5vh;
}

.tab_teams_search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 90%;

    margin-top: 5vh;
}

.tab_user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 90%;

    margin-top: 5vh;
}
