.tab_extras {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;

    margin-top: 5vh;
}

/* Menu navigation tabs */

.navigation_menu_extras {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    font-family: GenshinImpact;
}

.navigation_menu_extras>div {
    flex: 1 1 0;
    cursor: pointer;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    text-align: center;

    width: 16vw;
}

.active_tab_button {
    background-color: var(--secondary_color);
}

.disabled_tab_button {
    background-color: var(--tertiary_color);
}

.disabled_tab_button:hover {
    background-color: var(--secondary_color);
}

.menu_extra_banners {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    flex-wrap: wrap;

    width: 70%;
}

.menu_extra_current_banners {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    flex-wrap: wrap;

    width: 100%;
}

.menu_extra_current_banners>img {
    width: 45%;

    border-radius: 10px;
}

.menu_extra_characters_banners {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    flex-wrap: wrap;

    width: 100%;
}

.character_extra_banner {
    margin: 1vh 11px;
}

.character_banner_fieldset {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;

    border-radius: 10px;
    border: solid 3px var(--secondary_color);

    color: var(--light_text);

    margin: 3vh 1vw;
}

.character_banner_fieldset_4 {
    background-color: var(--character_4_stars);

    color: var(--light_text);
}

.character_banner_fieldset_5 {
    background-color: var(--character_5_stars_light);

    color: var(--dark_text);
}

.character_banner_stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: smaller;

    background-color: var(--tertiary_color);
    border-radius: 10px;

    margin-top: 5px;
}

.character_banner_date {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-bottom: 5px;
}

.waiting_days {
    font-size: large;

    margin: 10px 0px;
}

.high_mean {
    color: var(--high_mean);
}

.medium_mean {
    color: var(--medium_mean);
}

.low_mean {
    color: var(--low_mean);
}

.menu_extra_birthdays_calendar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 70vw;
    height: 85vh;
}

.menu_extra_birthdays_calendar_menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    width: 25vw;
    height: 100%;
}

.menu_extra_birthdays_calendar_month {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    flex-wrap: wrap;

    width: 25vw;
    height: 100%;

    background-size: cover;
    background-repeat: no-repeat;

    border-radius: 10px;
}

.birthday_month_title {
    font-size: xx-large;
    width: 70%;
}

.birthday_days_columns {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;

    height: 30%;

    margin-top: 2vh;
    margin-bottom: 2vh;
}

.birthday_column_title {
    font-size: small;
}

.birthday_column {
    flex: 1;

    display: grid;
    align-items: center;
    justify-content: center;

    grid-template-rows: 16% 16% 16% 16% 16% 16%;

    font-size: large;

    margin: 0vh 0.3vw;

    height: 100%;
}

.birthday_column>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 0.3vh 0vw;
}

.calendar_img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.previous_month_days {
    color: gray;
}















/* Small desktop/laptop version (Width: 960->1320px) */
@media only screen and (max-width: 1320px) {}













/* Mobile version (Width: 300->959px) */
@media only screen and (max-width: 959px) {
    .tab_extras {
        flex-direction: column;
    }

    .navigation_menu_extras>div {
        width: 50vw;
    }

    .menu_extra_characters_banners {
        width: 85vw;
    }
}