.tab_characters {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu_characters {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    width: 90%;
}

.menu_characters>div {
    margin: 1vh;
}

.menu_characters_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 90%;
}